<div class="card border @Theme.BorderClass">
    @if (CardHeader is not null) {
        <div class="card-header @Theme.BackgroundClass">
            @CardHeader
        </div>
    }
    <div class="card-body">
        @CardBody
    </div>
    @if (CardFooter is not null) {
        <div class="card-footer">
            @CardFooter
        </div>
    }
</div>
