@page "/"

<div class="row">
    <div class="col-sm-3">
        <FormTextArea Rows="4" @bind-Value="value" />
    </div>
    <div class="col-sm-3">
        @value
    </div>
</div>

@code{
    [Label("My Value"), Placeholder("Hello"), Title("G'Day"), Note("Hadouken")]
    private string? value = "Hello";
}