@page "/Todo"

@using McBlazor.Client.Components.Todo
@using McBlazor.Shared.Models.Todo.ViewModels

<div class="row justify-content-center">
    <div class="col-lg-3">
        <Card>
            <CardHeader>
                @(isEditing ? "Edit" : "New") Todo Item
            </CardHeader>
            <CardBody>
                <FormValidator @ref="validator">
                    <FormInput @bind-Value="editingItem.Title" CustomValidator="ValidateTitleAsync" Placeholder="@currentPlaceholders.Title" />
                    <FormTextArea @bind-Value="editingItem.Description" Rows="4" Placeholder="@currentPlaceholders.Description" />
                    <FormSelect @bind-Value="editingItem.Priority" Items="priorityItems" />
                    <div class="btn-group mt-2">
                        <button type="button" class="btn btn-sm btn-success" @onclick="SaveItemAsync">
                            <span class="fas fa-save"></span>&nbsp;Save
                        </button>
                        @if (isEditing) {
                            <button type="button" class="btn btn-sm btn-dark" @onclick="CancelEditing">
                                <span class="fas fa-ban"></span>&nbsp;Cancel
                            </button>
                        }
                    </div>
                </FormValidator>
            </CardBody>
        </Card>
    </div>
    <div class="col-lg-5">
        @foreach (TodoItemViewModel item in items) {
            <TodoItem Item="item" OnEdit="EditItem" OnDelete="DeleteItemAsync" Disable="isEditing" />
        }
    </div>
</div>